body {
  background-color: #222222;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 0px 150px;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#logo {
    position: absolute;
    width: 100px;
    clip-path: circle(50%);
    margin-left: 30px;
}

.banner {
    display: flex;
    overflow: hidden;
    height: 500px;
}

.tagline {
  background-color: #333333;
  display: flex;
  padding: 0px 0px 0px 150px;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden;
  h3 {
    text-align: center;
  }
}

.column {
  float: left;
  display: block;
}

.left {
  width: 33%;
}

.right {
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.container {
    background-color: #111111;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 90%;
}

.section {
    margin: 10px;
    padding: 10px;
    background-color: #333333;
    font-size: 125%;
}

.section a {
    text-decoration: none;
    color: rgb(182, 0, 36);
    font-size: medium;
}

.section a:hover {
    text-decoration: none;
    color: rgb(255, 0, 51);
    font-size: medium;
}

.foot {
  background-color: #333333;
  min-height: 100px;
  display: flex;
  padding: 0px 0px 0px 150px;
  margin: 0;
  margin-top: 10px;
  overflow: hidden;
}