body {
  background-color: #222222;
  color: white;
}

.navbar {
  background-color: #333333;
  overflow: hidden;
}

.navbar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  text-align: center;
}

.navbar a:hover {
  background-color: #111111;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#logo {
    position: absolute;
    width: 100px;
    clip-path: circle(50%);
    margin-left: 30px;
}

.banner {
    display: flex;
    overflow: hidden;
    height: 500px;
}

.tagline {
  background-color: #333333;
  display: flex;
  padding: 0px 0px 0px 150px;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden;
  h3 {
    text-align: center;
  }
}

.column {
  float: left;
  display: block;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#info {
  background-color: #111111;
  padding: 10px;
  margin: 10px;
  line-height: 150%;
  width: 95%;
  color: white;
  place-items: center;
  display: grid;
  a {
    color: crimson;
    text-decoration: none;
  }
}

#icon {
  width: 300px;
  place-self: center;
}

#meetings {
  text-align: left;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(255, 255, 255);
  width: 90%;
  td {
    padding-right: 25px;
    max-width: 500px;
    text-wrap: inherit;
  }
}

.schedule {
  max-height: 700px;
  overflow: scroll;
  place-items: center;
  display: grid;
  width: 90%;
}

.foot {
  background-color: #333333;
  min-height: 100px;
  display: flex;
  padding: 0px 0px 0px 150px;
  margin: 0;
  margin-top: 10px;
  overflow: hidden;
}